body {
    background-color: #1A1A1B;
}

input[type="checkbox"] {
  margin-top: -3px;
  vertical-align: middle;
  cursor: pointer;
}

input[type="radio"] {
  margin-top: -3.5px;
  vertical-align: middle;
  cursor: pointer;
}

td {
    vertical-align: middle;
}

#right-gutter {
    position: absolute;
    top: 0px;
    right:-190px;
}

.navigation {
    color: #FCFCFC;
}

.info {
    column-count: 2;
    color: #FCFCFC;
    text-align: justify;
}

.table th {
    border-top: none;
    cursor: default;
}

.alert {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.stats_table {
    border: none;
    font-size: small;
}

.stats_hand_qualifier {
    width: 47%;
    min-width: 126px;
}

.stats_hand_percent {
    width: 35px;
    text-align: right;
}

.stats_hand_meter {
    font-size:small;
}

.subqualifier {
    font-size: smaller;
}

.playingcard {
    cursor: pointer;
    background-color: white;
    font-family: serif;
    overflow: hidden;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}

.playingcard:hover {
    background-color: #e2e6ea;
}

.playingcard.inplay {
    box-shadow: 0px 0px 5px deepskyblue;
}

.playingcard.selected {
    cursor: default;
    background-color: grey;
}

.pageheader {
    color: white;
    font-family: serif;
    font-variant: small-caps;
}

.analysisview {
    background-color: #FCFCFC;
    position: relative;
}

.board_viewer {
    min-width: 280px;
}

.statistics_viewer {
    max-width: 360px;
    min-width: 202px;
}

.player {
    background-color: #FCFCFC;
    min-width: 460px;
}

.player-placeholder {
    height: 629px;
}

.range_table {
    border-collapse: separate;
    border-spacing: 0px;
}

.range_cell {
    width: 34px;
    height: 34px;
    text-align: center;
    font-size: 0.75em;
    cursor: pointer;
    border-style: outset;
    border-width: 1px;
    margin: 1px;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}

.suited {
    background-color: silver;
    border-color: #eeeeee;
}

.offsuit {
    background-color: gainsboro;
    border-color: #eeeeee;
}

.pocketpair {
    background-color: #9A9A9A;
    border-color: #eeeeee;
}

.range_cell.suited.selected {
    background-color: lightgreen;
    border-color: #acf2ac;
    border-style: inset;
}

.range_cell.offsuit.selected {
    background-color: lightgreen;
    border-color: #acf2ac;
    border-style: inset;
}

.range_cell.pocketpair.selected {
    background-color: lightgreen;
    border-color: #acf2ac;
    border-style: inset;
}

.suited.selected.spade,
.suited.selected.heart,
.suited.selected.club,
.suited.selected.diamond {
    background: linear-gradient(to right, lightgreen 25%, silver 25%);
    border-color: #eeeeee !important;
}

.offsuit.selected.spade,
.offsuit.selected.heart,
.offsuit.selected.club,
.offsuit.selected.diamond {
    background: linear-gradient(to right, lightgreen 50%, gainsboro 50%);
    border-color: #eeeeee !important;
}

.pocketpair.selected.spade,
.pocketpair.selected.heart,
.pocketpair.selected.club,
.pocketpair.selected.diamond {
    background: linear-gradient(to right, lightgreen 50%, #9A9A9A 50%);
    border-color: #eeeeee !important;
}

.subset.selected {
    border-color: #eeeeee !important;
}

.selected.spade:before,
.selected.heart:before,
.selected.club:before,
.selected.diamond:before {
    position: absolute;
    top: -4px;
    left: 22px;
    font-size: 0.9rem;
    pointer-events: none;
}

.selected.spade:before {
    color: black;
    content: '♠';
}

.selected.heart:before {
    color: red;
    content: '♥';
}

.selected.club:before {
    color: black;
    content: '♣';
}

.selected.diamond:before {
    color: red;
    content: '♦';
}

.popover{
    max-width: 100%;
    background-color: whitesmoke;
}

button.showbutton.collapsed:before
{
    content:'(show)';
}
button.showbutton:before
{
    content:'(hide)';
}


@media (max-width: 500px) {
    .player-placeholder {
        height: 698px;
    }

    .player {
        min-width: 100%;
    }

    .range_table {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
    }

    .range_cell {
        font-size: 2.3vw;
        width: 7.7vw;
        height: 7.7vw;
    }

    .range_loader {
        padding-top: 103vw;
        margin-left: 0px!important;
        margin-right: 0px!important;
    }

    .info {
        column-count: 1;
    }
}


.irs--round {
    height: 40px;
}

.irs--round .irs-bar {
    top: 18px;
    height: 4px;
    background-color: #007bff;
}

.irs--round .irs-line {
    top: 18px;
    height: 4px;
    background-color: #dee2e6;
    border-radius: 4px;
}

.irs--round .irs-handle {
    top: 8px;
    width: 24px;
    height: 24px;
    border: 4px solid #007bff;
    background-color: white;
    border-radius: 24px;
    box-shadow: 0 1px 3px rgba(0,0,255,0.3);
    cursor: pointer;
}
